//Status
$completed: #53d528;
$reading: #fbce3b;
$paused: #9256f3;
$planning: #1190e6;
$dropped: #e23e3e;

$background: #151019;

//Base Colors
$white: #ffffff;
$black: #000000;

//Emphasis
$emp-low: 22%;
$emp-mid: 44%;
$emp-high: 66%;

//Media Breakpoints
$br-tablet: 600px; //Max
$br-ltablet: 768px; //Min
$br-laptop: 992px; //Min
$br-desktop: 1200px; //Min
